@font-face {
    font-family: "Coolvetica";
    src: url('Coolvetica/Coolvetica\ Rg.otf');
}

@font-face {
    font-family: "Coolvetica-italic";
    src: url('Coolvetica/Coolvetica\ Rg\ It.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Coolvetica";
    letter-spacing: 1px;
}

body {
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    max-width: 90%;
    max-height: 1200px;
    background: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

#main-content h1 {
    font-size: 4rem;
    font-weight: 300;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.unit-input {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}


#reverse-icon {
    position: absolute;
    top: 44%;
    left: 70%;
    width: 70px;
    height: 70px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 300;
    cursor: pointer;
    transition: transform 0.5s;
}

#reverse-icon i {
    transform: rotate(90deg);
}

.rotate {
    transform: rotate(180deg);
}

#from {
    width: 60px;
    text-align: start;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

#to {
    width: 60px;
    text-align: start;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.top-unit-input {
    max-width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid black;
    padding: 20px;
    gap: 5px;
    margin-bottom: 10px;
}

.bottom-unit-input {
    max-width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid black;
    padding: 20px;
    gap: 5px;
}

select {
    width: 120px;
    border: none;
    appearance: none;
    outline: none;
    background-color: #00000000;
    color: black;
    font-size: 1.2rem;
    font-weight: 10;
    padding-left: 10px;
    cursor: pointer;
}

input {
    max-width: 100%;
    border: none;
    outline: none;
    background-color: #00000000;
    padding-left: 10px;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

#to-input {
    cursor: no-drop;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

#units-btn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 30px;
}

.button {
    padding: 15px 25px;
    border-radius: none;
    border: none;
    background-color: black;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.button-selected {
    padding: 10px 20px;
    border-radius: none;
    border: none;
    background-color: #fff;
    color: black;
    border: 1px solid black;
    font-weight: 300;
    font-size: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
}

.error {
    color: rgb(255, 95, 95);
}